main{
    display: flex;
    height: calc(100vh - 30px);
}
#list{
    flex: 3;
    background: aqua;
}
#form{
    flex: 2;
    background-color: beige;

}
body {
    background: repeating-linear-gradient(45deg, #FFA500, #FFA500 10px, #FF7F00 10px, #FF7F00 20px);
}
.hexagon-bg {
    background: repeating-linear-gradient(45deg, #FFD580, #FFD580 10px, #FFC04D 10px, #FFC04D 20px);
}

.list {
    flex: 3;
    background-color: lightskyblue;
    background-image: 
    -o-linear-gradient(to right, black);
    -o-linear-gradient(to bottom, black);
}